视频图像/chessboard.bmp
视频图像/chessboard.docx
open3d/data/ArmadilloMesh.ply
open3d/data/cloud_bin_0.pcd
open3d/data/cloud_bin_1.pcd
open3d/data/cloud_bin_2.pcd
open3d/data/color.png
open3d/data/DemoICPPointClouds.zip
open3d/data/depth.png
open3d/data/init.log
open3d/data/integrated.ply
.vscode/launch.json
open3d/data/fragment_000.ply
open3d/data/fragment_001.ply
open3d/data/fragment_003.ply
open3d/data/fragment_002.ply
open3d/data/refined_registration_optimized.json
